@charset "UTF-8";
body{
    background-color: #4949c0;
    font: normal 15pt Arial;
   
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 4px #00000080;

}
section > div > a{
    border-radius: 50%;
}
section > div#img{
    background-image: url(imagens/manha.jpg);
    
    width: 190px;
    height: 190px;
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    
}
section > div#msg{
    text-align: center;
    padding-bottom: 20px;
}
footer{
    color: white;
    text-align: center;
}